<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Zona Corredor Analytics</title>

    <link rel="stylesheet" href="/static/css/admin.css">
</head>

<body>

    <div class="login-box">

        <h1>🏃 Zona Corredor</h1>

        <h3>Panel Administrador</h3>

        <form method="POST">

            <input type="text" name="usuario" placeholder="Usuario" required>

            <input type="password" name="password" placeholder="Contraseña" required>

            <button type="submit">
                Ingresar
            </button>

        </form>

    </div>

</body>

</html>